.bids {
    position: relative;
    z-index: 5000;
    text-align: center;
}

.bids img, .bids span {
    width: 50px;
    padding: 5px;
    background: #fff;
    height: 50px;
}

.bid {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: -10px;
    height: 30px;
    width: 60px;
    padding: 16px;
    text-align: center;
    color: #000;
    background: #fff;
    border-radius: 50%;
}

.bid span {
    font-size: 12px;
    font-weight: bold;
    color: red;
}
.bid:before {
    content: "";
    position: absolute;
    bottom: -18px;
    right: 21px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 30px;
}

.bid:after {
    content: "";
    position: absolute;
    bottom: -30px;
    right: 6px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 15px;
}

.right .bid:before {
    bottom: -21px;
    right: 21px;
}

.right .bid:after {
    bottom: -30px;
    right: 6px;
}

.left .bid:before {
    bottom: -21px;
    left: 21px;
}

.left .bid:after {
    bottom: -30px;
    left: 6px;
}

.middle .bid:before {
    bottom: -21px;
    left: 21px;
}

.middle .bid:after {
    bottom: -30px;
    left: 6px;
}

