#trump {
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    background-image: url('../img/game.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 72%;
    margin: 0 auto;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    border: 5px solid #000;
    border-radius: 50%;
    opacity: 0.4;
}

#hand {
    position: absolute;
    right: 1%;
    top: 50%;
    background: #5081a6;
    border-radius: 6px;
    padding: 15px;
    box-shadow: 0px 0px 13px 1px #393737;
    color: #fff;
}

#hand p {
    text-align: center;
    font-weight: bold;
}

#board img {
    width: 75%;
}

#board {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
    top: 10%;
    width: 20%;
    padding-bottom: 20%;
    height: 0;
}

#left-card {
    position: absolute;
    left: 0;
    width: 50%;
    text-align: center;
    transform: rotate(-33deg);
}

#right-card {
    position: absolute;
    right: 0;
    width: 50%;
    text-align: center;
    transform: rotate(43deg);
}

#middle-card {
    position: absolute;
    bottom: 5%;
    width: 50%;
    text-align: center;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.count {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px 14px;
    margin-top: 10px;
    margin-left: 5px;
    text-align: center;
}

#results {
    z-index: 99999;
    background: #ffffff;
    position: absolute;
    width: 20%;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 14px 2px #0e0e0e;
    text-align: center;
}

.newGame {
    padding: 10px;
    background: #3a576e;
    margin-top: 19px;
    border: none;
    border-radius: 7px;
    color: #fff;
}

#results p {
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    /*border-radius: 7px;*/
    box-shadow: 0px 0px 3px 0px #ccc;
}

#results strong {
    font-size: 23px;
    color: red;
}

#results h3 {
    margin: 6px 0px;
    font-size: 23px;
}

#results h3 img {
    width: 22px;
}

#history {
    position: absolute;
    top: 50%;
    left: 6px;
    background: #5081a6;
    border-radius: 3px;
    padding: 6px;
    box-shadow: 0px 0px 13px 1px #393737;
    color: #fff;
}

#history p {
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

#score table {
    margin: 0 auto;
}

#score table td {
    text-align: center;
    background: #5081a6;
    padding: 3px 10px;
    border: 1px solid #767070;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    width: 33.3%;
    box-shadow: 0px 0px 10px -2px #000;
}