#player .card {
    position: relative !important;
}

#player .card:hover {
    top: -10px !important;
}

.player {
    position: absolute;
    z-index: 100;
    color: #ccc;
}

.player.middle {
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.player.left {
    left: 0;
    top: 10%;
    text-align: left;
}

.player.right {
    right: 0;
    top: 10%;
    text-align: right;
}

.player .bid img {
    width: 30px;
}

.player .name {
    vertical-align: middle;
    font-size: 1.3em;
}

.player .score {
    vertical-align: top;
    color: #fff;
    font-size: 1.7em;
    font-weight: bold;
}

.player .avatar {
    vertical-align: middle;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 2px;
    width: 50px;
    background: #ecf0f1;
}

.player .cards {
    margin-top: 6px;
    text-align: center;
}

.player.right .cards img {
    margin-left: -25px;
}

.player.left .cards img {
    margin-right: -25px;
}

.leave img {
    width: 50px;
}

.player .active {
    position: relative;
}

.active-arrow {
    width: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation-name: arrow;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    -webkit-animation-name: arrow;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
}

@keyframes arrow {
    0% {
        bottom: 0;
    }
    75% {
        bottom: 90px;
    }
    100% {
        bottom: 0;
    }
}

@-webkit-keyframes arrow {
    0% {
        bottom: 0;
    }
    75% {
        bottom: 90px;
    }
    100% {
        bottom: 0;
    }
}