* {
    padding: 0;
    margin: 0;
}

body {
    height:100vh;
    background: url('../img/texture.png') repeat;
}

.clearfix {
    clear: both;
}

.relative {
    position: relative;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-center {
    text-align: center;
}



